<table class="customer_review">
  <% spot.reviews.each do |review| %>
    <thead>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= review.customer.nickname %>
          <%= review.created_at.strftime('%Y/%m/%d') %><br>
        </td>
        <td id="review-<%= review.id %>">
          <script>
            var elem = document.getElementById("review-<%= review.id %>");
            var opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'review[all_rating]',
              half: true,
              readOnly: true,
              score: <%= review.all_rating %>
              };
              raty(elem,opt);
          </script>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to customer_path(review.customer) do %>
          <%= image_tag review.customer.get_profile_image(60,60), class: "rounded-circle" %></br>
          <% end %>
        </td>
        <td>
          <div class="content-body">
            <% if review.comment.length > 15 %>
              <div class="truncated">
                <p><%= review.comment.truncate(15)%></p>
                <a class="see-more link-primary">&lt;もっと見る&gt;</a>
              </div>
              <div class="hide untruncated">
                <p><%= review.comment %></p>
              </div>
            <% else %>
              <p><%= review.comment %></p>
            <% end %>
          </div>
        </td>
        <td>
         <%= link_to "削除", admin_spot_review_path(spot, review), method: :delete, class: "btn btn-danger pull-right", remote: true %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>