<div class="container wrapper flex">
 <div class="row">
		<h2><%= @customer.nickname %>さんのレビュー履歴一覧</h2>
		<table class="table">
			<thead>
				<tr>
					<th>レビュー日</th>
					<th>スポット</th>
					<th>評価</th>
					<th>レビュー詳細</th>
					<th>削除</th>
				</tr>
			</thead>
			<tbody>
				<% @reviews.each do |review| %>
					<tr>
						<td style="width: 10%"><%= review.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
						<td style="width: 20%"><%= link_to review.spot.name, admin_spot_path(review.spot) %></td>
					<td id="review-<%= review.id %>">
	          <script>
	            var elem = document.getElementById("review-<%= review.id %>");
	            var opt = {
	              starOn: "<%= asset_path('star-on.png') %>",
	              starOff: "<%= asset_path('star-off.png') %>",
	              starHalf: "<%= asset_path('star-half.png') %>",
	              scoreName: 'review[all_rating]',
	              half: true,
	              readOnly: true,
	              score: <%= review.all_rating %>
	              };
	              raty(elem,opt);
	          </script>
	        </td>
						<td style="width: 50%">
							<div class="content-body">
	            <% if review.comment.length > 25 %>
	              <div id="truncated_<%= review.id %>">
	                <p><%= review.comment.truncate(25)%></p>
	                <a id="see-more_<%= review.id %>" class="link-primary link">&lt;もっと見る&gt;</a>
	              </div>
	              <div id="untruncated_<%= review.id %>" class="hide">
	                <p><%= review.comment %></p>
	              </div>
	            <% else %>
	              <p><%= review.comment %></p>
	            <% end %>
	          </div>
						<td style="width: 10%">
	            	<%= link_to "削除", admin_customer_review_path(@customer, review), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-outline-danger", remote: true %>
	          </td>
					</tr>
					<script>
				    $(document).ready(function () {
				      $('#see-more_<%= review.id %>').on('click', function(){
				        $('#untruncated_<%= review.id %>').removeClass('hide')
				        $('#truncated_<%= review.id %>').addClass("hide")
				        $('#see-more_<%= review.id %>').addClass("hide")
				      });
				    });
				  </script>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<%= paginate @reviews, theme: 'twitter-bootstrap-4' %>