<div class="inner">
	<h2 class="section-ttl">レビュー詳細</h2>
	<table class="order_info mb3 has_border">
	
		<h3 class="section-ttl"><%= @review.spot.name %></h3>
		<div class="flex">
			<%= image_tag @review.spot.get_spot_image(100, 100), class: "spot_image" %>
			<div class="review_info">
		</thead>
		<tbody>
		  <tr>
		    <td>ジャンル</td>
		    	<p><%= link_to @review.spot.genre.name, admin_spots_path(genre_id: @review.spot.genre_id) %></p>
		  </tr>
		  <tr>
				<td>投稿者</td>
				<td><%= link_to @review.spot.customer.nickname, admin_customer_path(@review), class: "underline" %></td>
			</tr>
			<tr>
				<td>投稿日時</td>
				<td><%= @review.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
			</tr>
			<td>
			 <%= link_to "削除", admin_spot_review_path(spot, review), method: :delete, "data-confirm" => "本当に削除してよろしいでしょうか？", class: "btn btn-danger pull-right", remote: true %>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>


