<table>
  <tbody>
      <% spot.reviews.each do |review| %>
      <tr>

        <td>
          <%= link_to customer_path(review.user) do %>
            <%= image_tag review.customer.get_profile_image, size: "100x100" %><br>
            <%= review.customer.nickname %>
            <%= review.created_at.strftime('%Y/%m/%d') %><%= review.comment %>
          <% end %>
        </td>
        <td><%= review.comment %></td>
        <td>
          <%# if review.user == current_user %>
            <%= link_to "削除", spot_review_path(spot, review), method: :delete, class: "btn btn-danger pull-right", remote: true %>
          <%# end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
