<div class="container wrapper flex">
	<div class="row">
  	<div class="col-md-3 border rounded">
			<%= render 'public/spots/search_sidebar', genres: @genres %>
  	</div>
		<div class="content col-md-9">
			<% if @genre.present? %>
				<h2 class="section-ttl">ジャンル：<%= @genre.name %> (全<%= @all_spots_count %>件)</h2>
			<% else %>
				<h2 class="section-ttl">スポット (全<%= @all_spots_count %>件)</h2>
			<% end %>

			<% if @spots.first %>
				<div>
					<i class="fas fa-sort-amount-down"></i><%= link_to '新しい順', spots_path(latest: "true") %>
			    <i class="fas fa-sort-amount-up-alt"></i><%= link_to '古い順', spots_path(old: "true") %>
			    <i class="fas fa-sort-numeric-down-alt"></i><%= link_to '評価の高い順', spots_path(star_count: "true") %>
				</div>

   			<div class="row">
  				<% @spots.each do |spot| %>
 					<div class="col-md-5 m-1 d-flex">
						<div class="card" style="width: 18rem;">
							<%= image_tag spot.get_spot_image(250,200), class: "img-thumbnail spot_image" %>
					  	<div class="card-body">
					    	<h5 class="card-title"><%= spot.name %></h5>
					    	<p class="card-text"><%= spot.introduction.truncate(30) %></p>
					    	<ul class="list-group list-group-flush">
							    <li class="list-group-item">ジャンル：<%= spot.genre.name %></li>
							    <li class="list-group-item">総合評価：<%= spot.reviews.average(:all_rating).to_f.round(1) %></li>
							  </ul>
							  <div><%= link_to "詳細を見る", spot_path(spot), class: "btn btn-outline-secondary" %></div>
					  	</div>
						</div>
					</div>
					<% end %>
				</div>
				<%= paginate @spots %>
			<% else %>
				<h3>対応するスポットはありませんでした。</h3>
			<% end %>
		</div>
	</div>
</div>
