<div class="container wrapper flex">
  <div class="row">
  	<div class="col-md-3">
		<%= render 'admin/genres/genre_sidebar', genres: @genres %>
  	</div>
	<div class="content">
		<% if params[:genre_id] %>
			<h2 class="section-ttl"><%= @genre.name %>の商品一覧 (全<%= @all_spots_count %>件)</h2>
		<% else %>
			<h2 class="section-ttl">商品一覧 (全<%= @all_spots_count %>件)</h2>
		<% end %>
		<% if @spots.first %>
		<div class="spots">
			<% @spots.each do |spot| %>
				<%= link_to spot_path(spot) do %>
					<%= image_tag spot.get_spot_image(100, 100), format: "jpeg", fallback: "no-image.png" %>
					<p><%= spot.name %></p>
				<% end %>
					<p>ジャンル：<%= spot.genre.name %></p>
					<div class="average-review-rating" data-score=<%= spot.reviews.average(:all_rating) %>>
　						<p>総合評価：<%= spot.reviews.average(:all_rating).to_f.round(1) %></p>
					</div>
			<% end %>
		</div>
		<%= paginate @spots %>
		<% else %>
			<h3>対応するスポットはありませんでした。</h3>
		<% end %>
		</div>
		</div>
	</div>
</div>