<%= form_with url: admin_spots_path, method: :get, local: true do |f| %>

  <strong>ジャンル</strong><br>
    <%= f.radio_button :genre_id, "", checked: params[:genre_id] == '' %>
    <%= f.label 'すべてのジャンル' %> <br>
    <% genres.each do |genre| %>
      <%= f.radio_button :genre_id, genre.id, checked: params[:genre_id] == genre.id.to_s %>
      <%= f.label genre.name %><br>
    <% end %>

  <strong>都道府県</strong><br>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, selected: params[:prefecture_id], include_blank: true) %><br>

  <strong>フリーワード</strong><br>
    <%= f.text_field :keyword ,value: params[:keyword] %><br>

  <%= f.submit "検索" %>
<% end %>

<div class="genre-create">
  <%= link_to "☆ジャンル追加", admin_genres_path %>
</div>

<div class="genre-create">
  <%= link_to "☆スポット追加", new_admin_spot_path %>
</div>