<div class="container">
	<h2 class="section-ttl"><%= @spot.name %>の編集</h2>
		<div class="row justify-content-center">
			<%= form_with model: @spot, url: admin_spot_path(@spot) do |f| %>
			<!--<%#= render 'layouts/error_messages', resource: item %>-->
			<div class="col-md-12">
		 		<div class="image_field">
					<%= image_tag @spot.get_spot_image(100, 100), class: "admin_image" %>
				</div>
				<span class="btn btn-file btn-info"><%= f.file_field :spot_image,  accept:'image/*' %></span>
				<p>選択するとプレビューされます。<br>画像未選択のままだと「No image」になります。</p>
			</div>

			<table class="admin_spot_info spot_form">
				<thead>
					<tr>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= f.label :name, "スポット名" %></td>
						<td><%= f.text_field :name, class: 'form-control',size: "60x10" %></td>
					</tr>
					<tr>
						<td><%= f.label :introduction, "説明" %></td>
						<td><%= f.text_area :introduction, rows: 3, class: 'form-control',size: "60x10" %></td>
					</tr>
					<tr>
						<td><%= f.label :genre_id, "ジャンル" %></td>
						<td><%= f.collection_select :genre_id, Genre.all, :id, :name %></td>
					</tr>
					<tr>
						<td><%= f.label :address, "住所" %></td>
						<td><%= f.text_field :address, class: 'form-control',size: "60x10" %></td>
					</tr>
				</tbody>
			</table>
			<div class="flex text-center">
				<%= f.submit '更新', class: "btn btn-secondary" %>
			</div>
		<% end %>
	</div>
</div>