<div class="wrapper flex">
	<div class="sidebar">
		<h3>ジャンル一覧</h3>
		<% @genres.each do |genre| %>
			<%= link_to genre.name, admin_spots_path(genre_id: genre.id) %>
		<% end %>
	</div>
	<div class="content">
		<%= render 'serach', {spots: @spots, keyword: @keyword} %>
		<% if params[:genre_id] %>
			<h2 class="section-ttl"><%= @genre.name %>の商品一覧 (全<%= @all_spots_count %>件)</h2>
		<% else %>
			<h2 class="section-ttl">商品一覧 (全<%= @all_spots_count %>件)</h2>
		<% end %>
		<% if @spots.first %> 
			<div class="spots">
				<% @spots.each do |spot| %>
					<%= link_to spot_path(spot) do %>
						<%= image_tag spot.get_image, format: "jpeg", fallback: "no-image.png" %>
						<h5><%= spot.genre.name %></h5>
						<p><%= spot.name %></p>
					<% end %>
				<% end %>
			</div>
			<%= paginate @spots %>
		<% else %>
			<h3>対応するスポットはありませんでした。</h3>
		<% end %>
	</div>
</div>