<!--<div class="wrapper flex">-->
	
	<div class="container wrapper flex">
  <div class="row">
    <div class="col-md-3">
	<%= render 'admin/genres/genre_sidebar', genres: @genres %>
	 </div>
	<!--<div class="sidebar">-->
	<!--	<h3>ジャンル一覧</h3>-->
	<!--	<%# @genres.each do |genre| %>-->
	<!--		<%#= link_to genre.name, admin_spots_path(genre_id: genre.id) %>-->
	<!--	<%# end %>-->
	<!--</div>-->
	<div class="content col-md-9">
		<%= render 'serach', {spots: @spots, keyword: @keyword} %>
		<% if params[:genre_id] %>
			<h2 class="section-ttl"><%= @genre.name %>のスポット (全<%= @all_spots_count %>件)</h2>
		<% else %>
			<h2 class="section-ttl">スポット (全<%= @all_spots_count %>件)</h2>
		<% end %>
		<% if @spots.first %> 
			<div class="spots">
				<% @spots.each do |spot| %>
					<%= link_to admin_spot_path(spot) do %>
						<%= image_tag spot.get_spot_image(100,100), format: "jpeg", fallback: "no-image.png" %>
						<p><%= spot.genre.name %></p>
						<p><%= spot.name %></p>
					<% end %>
				<% end %>
			</div>
			<%= paginate @spots %>
		<% else %>
			<h3>対応するスポットはありませんでした。</h3>
		<% end %>
	</div>
	</div>
</div>