<div class="container wrapper flex">
	<div class="row">
  	<div class="col-md-3 border rounded">
  		<%= render 'admin/spots/search_sidebar', genres: @genres %>
  	</div>
		<div class="content col-md-9">
			<% if @genre.present? %>
				<h2 class="section-ttl">ジャンル：<%= @genre.name %> (全<%= @all_spots_count %>件)</h2>
			<% else %>
				<h2 class="section-ttl">スポット (全<%= @all_spots_count %>件)</h2>
			<% end %>
			<% if @spots.first %>
				<div class="spots row">
					<% @spots.each do |spot| %>
						<div class="col-4 mb-5">
							<%= link_to admin_spot_path(spot) do %>
								<%= image_tag spot.get_spot_image(100,100), class: "admin_spot_image" %>
								<!--上記から削除　, format: "jpeg", fallback: "no-image.png"-->
								<div><%= spot.name %></div>
							<% end %>
							<p class="my-0">ジャンル：<%= spot.genre.name %></p>
							<!--<div class="average-review-rating" data-score=<%= spot.reviews.average(:all_rating) %>></div>-->
	　					<span>総合評価：<%= spot.reviews.average(:all_rating).to_f.round(1) %></span>
　					</div>
					<% end %>
				</div>
				<%= paginate @spots %>
			<% else %>
				<h3>対応するスポットはありませんでした。</h3>
			<% end %>
		</div>
	</div>
</div>