<div class="container wrapper flex">
  <div class="row">
    <div class="col-md-3">
	<%= render 'admin/genres/genre_sidebar', genres: @genres %>
	 </div>
	
	<div class="content col-md-9">
		<h2 class="section-ttl"><%= @spot.name %></h2>
		<div><%= flash[:notice] %></div>
		<!--<%#= render 'layouts/error_messages', resource: @ %>-->
		<div class="flex">
			<%= image_tag @spot.get_spot_image(100, 100), class: "admin_spot_image" %>
			<div class="spot_info">

				<p>ジャンル: <%= link_to @spot.genre.name, admin_spots_path(genre_id: @spot.genre_id) %></p>
				<p><%= @spot.address %></p><br>
				<p><%= @spot.introduction %></p><br>
				
	<div class="text-right">
     <%= link_to "編集する",edit_admin_spot_path(@spot.id), class:"btn btn-primary" %>
     </div>

		 <!--<%# if logged_in? %>-->
   <!--     <%#= render 'favorites/like_button', spot: @spot %>-->
   
     <!--口コミ-->
     <h5>カスタマーレビュー</h5>
         <%= render "public/reviews/list", spot: @spot, review: @review %>
         <%#= render partial: "admin/spots/show_rate", locals: { spot: @spot } %>
      </div>

      <!--口コミ投稿フォーム-->
      <!--<%#= render "admin/reviews/form", spot: @spot, review: @review %>-->


        <!--口コミ-->
   <!--     <%# @reviews.each do |c| %>-->
   <!--         <div>-->
   <!--           　<%# unless c.customer.blank? %>-->
   <!--         　　      <%#= link_to c.customer.name, admin_customer_path(c.customer_id)%>-->
   <!--         　　<%# end %>-->
   <!--         　　<h5><%#= c.title %></h5>-->
   <!--       　　　　<%#= c.content %>-->
   <!--     　　</div>-->
  　<!--　　　<%# end %>-->

        <!--口コミ投稿フォーム-->
   <!--     <div class="jumbotron bg-light">-->
   <!--         <h4>口コミを投稿する</h4>-->
   <!--         <%#= form_with model: [@spot, @reviews], local: true do |f| %>-->
   <!--             <div class="form-group">-->
   <!--                 <%#= f.label :title, "タイトル"%>-->
   <!--                 <%#= f.text_field :title, class: "form-control" %>-->
   <!--             </div>-->
   <!--             <div class="form-group">-->
   <!--                 <%#= f.label :comment, "コメント"  %>-->
   <!--                 <%#= f.text_area :comment, class: "form-control" %>-->
   <!--             </div>-->

   <!--             <#%= f.submit 'コメントする', class: "btn btn-primary" %>-->
   <!--         <%# end %>-->
   <!--     </div>-->
   <!-- <%# else %>-->
   <!--     <div class="text-center">-->
   <!--         <h5 class="mt-5">口コミお気に入り機能を使うにはログインしてください</h5>-->
   <!--         <p>会員登録がまだの方は　→　<%#= link_to '会員登録', signup_path %>　</p>-->
   <!--     </div>-->
   <!-- <%# end %>-->
			<!--</div>-->

			</div>
		</div>
	</div>
</div>
</div>