<header class="shadow-sm mb-3">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand p-3" href="/"><%= image_tag('nanisuru_top') %></a>
      <ul class="navbar navbar-expand-lg navbar-nav ml-auto">
        <% if customer_signed_in? %>

         <li class="customer-name">
          ようこそ、<%= current_customer.nickname %>さん！
         </li>
         <li><i class="fas fa-user"></i><%= link_to "マイページ", customer_path(current_customer) %></li>
         <li><i class="fas fa-store"></i><%= link_to "スポット", spots_path  %></li>
         <li><i class="fas fa-sign-out-alt"></i><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>

        <% elsif admin_signed_in? %>

          <li><i class="fas fa-store"></i><%= link_to "スポット", admin_spots_path %></li>
          <li><i class="fas fa-user-friends"></i><%= link_to "会員一覧", admin_customers_path %></li>
          <li><i class="fas fa-sign-out-alt"></i><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>

        <% else %>

          <div><i class="fas fa-user-tag"></i><%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post %></div>
          <!--<li><%#= link_to "スポット一覧", spots_path %> </li>-->
          <li><i class="fas fa-pencil-alt"></i><%= link_to "新規登録", new_customer_registration_path %></li>
          <li><i class="fas fa-sign-in-alt"></i><%= link_to "ログイン", new_customer_session_path %></li>
        <% end %>
        <%= render 'admin/spots/search' %>
      </ul>
    </div>
  </nav>
</header>